# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cleandaycrm?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-openssl-rand-base64-32"

# Twilio
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_PHONE_NUMBER=""

# OpenAI
OPENAI_API_KEY=""
OPENAI_MODEL="gpt-4o-mini"
